*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*Conteúdo do HEADER*/
.headerCont{
    background-color: rgb(255, 255, 255, 0.9);
    min-width: 100vw;
    min-height: auto;
    border-bottom-style: groove;
    font-family: 'Mukta', sans-serif;
}

.selectBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    color: gold;
}

.selectBox a{
    margin-left: 5vw;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}
/*************************************************/


/*Conteúdo do Body*/
body{
    background-color: #e2e2e2;
    overflow-x: hidden;
    
}

/*Primeira seção de conteúdos*/

section{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-left: 2%;
    max-width: 100vw;
}

.sectCont p, h2{
    font-family: 'Mukta', sans-serif;
}

.containerCarousel{
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 100vw;
    background-color: #ffffff;
}

.sectCont{
    overflow: hidden;
}

.imgsCarousel{
    height: 100vh; 
    display: flex;
    transition: all ease 2s;
    
}

.imgItem{
    width:  100vw;
    height: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.hover:hover{
    width: 150vw;
    transition: all ease 2s;
    
}

.lordH3, .aleisterH3, .omenH3{
    background-color: rgb(0, 0, 0, 0.7);
    max-width: 100vw;
    padding: 3vw;
    text-align: center;
    color: #ffffff; 
    text-shadow: 2px 2px 8px #000000; 
    font-family: 'Mukta', sans-serif; 
    margin-top: 30vw;
}

/*Segunda seção de conteúdos*/

.titleReport{
    margin-top: 5vh;
    margin-left: 5%;
    font-size: 3rem;
    font-family: 'Mukta', sans-serif;
}


/*************************************************/


/*Aqui vem a box com informações*/

.sectionInfo1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: #00000033 1px solid;
    width: 60vw;
    background-color: #ffffff;
    margin-top: 5vh;
}

.metaCallImg{
    width: 50vw;
    margin-top: 5vh;
    margin-left: 2%;
    box-shadow: 3px 3px #000000;
}
.metaCallImg:hover{
    width: 52vw;
    cursor: pointer;
    transition: 1s ease;
}
/*Aqui inicia as informações da box*/
.boxTitle{
    text-align: center;
    font-size: 2rem;
    font-family: 'Mukta', sans-serif;
}
.boxDescri{
    font-size: 1rem;
    font-family: 'Mukta', sans-serif;
    text-align: center;
}

/*************************************************/


/*Aqui ficam os icones de media sociais e alguns outros conteúdos de acesso rápido*/
.sectSocialMedia{
    display: flex;
    flex-direction: column;
    width: 30vw;
    background-color: #fafafa;
    margin-top: 5vh;
    border: #00000033 1px solid;
}

.iconsBox{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2vh;
}

.mediaIcon :hover{
    box-shadow: 2px 2px rgb(0, 0, 0);
    width: 150%;
}
/*************************************************/

/*Seção de LatestNews*/
.latestNews{
    display: flex;
    width: 25vw;
    flex-direction: column;
}

.newsImgs{
    margin-left: 7.5vw;
    width: 15vw;
    border-radius: 20px;
}

.pFirstNews{
    text-align: center; 
    font-family: 'Mukta', sans-serif; 
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 7.5vw;
}

.pFirstNewsDesc{
    text-align: center; 
    font-family: 'Mukta', sans-serif; 
    font-size: 1rem;
    margin-left: 7.5vw;
}